.item1 { grid-area: header;
text-align: center; }
.item2 { grid-area: menu; 
height: 500px;
}
.item3 { grid-area: main; 
height: 450px;}
.item5 { grid-area: footer;
height: 60px; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #44497e;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 20px 0;
  font-size: 30px;
}